/* ----------------------
        VARIABLES
------------------------- */

:root {
    /* fonts */
    --greyText: #9f9f9f;
    --greyHover: #323232;

    /* backgrounds */
    --darkBlack: #0f0f0f;
    --darkGreyBoxes: #1f1f1f;

    /* geberal */
    --blue: #5b78f6;

    --gapMargin: 30px;
    --paddingBoxes: 10px;
}


body {
    font-family: "Inter", sans-serif;
    background: var(--darkBlack);
    color: var(--greyText);
}

.main-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 0.8rem;
}

/* ----------------------
        HEADER
-------------------------*/

header {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

header nav ul {
    display: flex;
    gap: 3rem;
}

header nav ul li a {
    color: #fff;
    opacity: 0.3;
    font-size: 1rem;
    font-weight: 300;
    transition: all 0.5s;
}

header nav ul li a:hover,
header nav ul li a.active {
    opacity: 1;
}

header .nav-btn a {
    color: #fff;
    background-color: var(--greyHover);
    font-size: 1rem;
    font-weight: 500;
    padding: 12px 32px;
    border-radius: 16px;
    transition: all 0.5s;
}

header .nav-btn a:hover {
    color: var(--greyHover);
    background-color: #fff;
}

.menu-bar {
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    display: none;
}

.menu-bar:hover {
    opacity: 0.5;
}

/* ----------------------
    MAIN | FIRST ROW
-------------------------*/

main .first-row {
    display: flex;
    gap: var(--gapMargin);
    padding: var(--paddingBoxes);
    margin-bottom: 15px;
}

main .first-row__left,
main .first-row__right {
    width: 50%;
}

/* FIRST ROW LEFT */

main .first-row__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    padding: var(--gapMargin);
    background: var(--darkGreyBoxes);
    border-radius: 30px;
}

.first-row__left--content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 40%;
    height: 240px;
}

.first-row__left--content h3 {
    font-size: 14px;
    color: #fff;
    opacity: 0.5;
    font-weight: 500;
}

.first-row__left--content h1 {
    font-size: 2.9rem;
    color: #fff;
    font-weight: 500;
    margin-top: 6px;
    margin-bottom: 10px;
}

.first-row__left--content p {
    line-height: 1.5;
    font-size: 14px;
}

.circle-star {
    position: absolute;
    right: 0;
    opacity: 0.3;
    transition: all 0.5s;
    cursor: pointer;
}

.circle-star:hover {
    opacity: 1;
}

.first-row__left--img {
    height: 240px;
    width: 240px;
    background: linear-gradient(90deg, var(--blue) -15%, #c2ebff 58%, var(--blue) 97%);
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
    
}

.first-row__left--img img {
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
    filter: grayscale(1);
    
}

/* FIRST ROW RIGHT */

.first-row__right {
    display: flex;
    flex-direction: column;
    gap: var(--gapMargin);
}

.first-row__right--bottom {
    display: flex;
    gap: var(--gapMargin);
    justify-content: space-between;
    margin-top: auto;
    height: 100%;
}

.first-row__right--span {
    background: var(--darkGreyBoxes);
    width: 100%;
    padding: 30px 50px;
    border-radius: 30px;
    overflow-x: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-row__right--span div {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    width: 90%;

    animation: akiko 15s linear infinite;
}

.first-row__right--span div span {
    padding: 10px;
}

@keyframes akiko {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-200%);
    }
}
.first-row__right--bottom .cards {
    width: 50%;
}

.signature {
    filter: invert(100%) sepia(4%) saturate(14%) hue-rotate(40deg) brightness(107%) contrast(100%);
}

/* ----------------------
        CARDS
-------------------------*/
.cards {
    background: var(--darkGreyBoxes);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 25px 30px 25px;
    gap: 20px;
    height: 100%;
}

.cards__top {
    height: 150px;
}

.cards__top img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cards__bottom {
    display: flex;
    justify-content: space-between;
}

.cards__bottom--text h3 {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 15px;
}

.cards__bottom--text h2  {
    color: #fff;
}

.cards__bottom--icon {
    opacity: 0.3;
    cursor: pointer;
    transition: all 0.5s;
}

.cards__bottom--icon:hover {
    opacity: 1;
}

/* ----------------------
    MAIN | SECOND ROW
-------------------------*/
.second-row {
    display: flex;
    justify-content: space-between;
    padding: var(--paddingBoxes);
    gap: var(--gapMargin);
}

/* SECOND ROW CENTER */

.second-row__center {
    flex-grow: 1;
}

.cards__top--icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: var(--gapMargin);
    padding: 30px;
    height: 150px;
}

.cards__top--icons i {
    font-size: 40px;
    color: #fff;
}

/* SECOND ROW RIGHT */

.second-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: var(--darkBlack);
    background: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0.058),
        rgba(10, 10, 10, 0.765)
    );
    padding: 30px;
    border-radius: 30px;
}

.iconoir-dribbble,
.iconoir-twitter {
    font-size: 40px;
    padding: 20px;
    background: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0.058),
        rgba(10, 10, 10, 0.765)
    );
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s;
}

.iconoir-dribbble:hover,
.iconoir-twitter:hover {
    background: #fff;
    color: var(--darkGreyBoxes);
}

/* ----------------------
    MAIN | THIRD ROW
-------------------------*/

.third-row {
    display: flex;
    gap: 30px;
    padding: 10px;
    margin: 20px 0;
}

.third-row__left,
.third-row__right {
    width: 50%;
    border-radius: 30px;
    background: var(--darkGreyBoxes);
    padding: 30px;
    display: flex;
    gap: 20px;
}

.third-row__right {
    position: relative;
    align-items: end;
    justify-content: space-between;
}

.third-row__left div {
    background: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0.058),
        rgba(10, 10, 10, 0.765)
    );
    border-radius: 30px;
    width: 145px;
    padding: 30px;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.third-row__left div h2 {
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
}

.third-row__left div p {
    line-height: 1.7;
    font-size: 12px;
    opacity: 0.7;
}

.third-row__right .star-top {
    position: absolute;
    top: 0;
    left: 30px;
}

.third-row__right div h1 {
    font-size: 44px;
    font-weight: 500;
    color: #fff;
}

.third-row__right div h1 span {
    color: var(--blue);
}

.star-bottom {
    opacity: 0.3;
    cursor: pointer;
    transition: all 0.5s;
}

.star-bottom:hover {
    opacity: 1;
}

/* ----------------------
        FOOTER
-------------------------*/

footer {
    margin: 80px 10px 140px 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

footer nav ul {
    display: flex;
    gap: 40px;
}

footer nav ul li a {
    color: #fff;
    opacity: 0.3;
    text-transform: uppercase;
    font-size: 12px;
    transition: opacity 0.5s;
}

footer nav ul li a:hover {
    opacity: 1;
}

footer p {
    opacity: 0.7;
}

footer p a {
    color: var(--blue);
    font-weight: 800;
}

.flashIn {
    position: absolute;
    z-index: 10000;
    background: var(--darkGreyBoxes);
    height: 100vh;
    width: 100%;
    animation: inOut 2s ease-in forwards;
}

@keyframes inOut {
    0% {
        transform: translateY(-90%) scaleY(1);
    }

    100% {
        transform: translateY(5000px) scaleY(0);
    }
}

/* ----------------------
    MEDIA QUERYS
-------------------------*/

@media only screen and (max-width: 992px) {
    header {
        padding: 0 10px;
    }
    
    header nav,
    header .nav-btn {
        display: none;
    }

    .logo {
        z-index: 1000;
    }
    
    /* Only for JS */
    .showItem {
        display: block;
    }

    /* Only for JS */
    .header-nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--darkBlack);
        width: 100%;
        height: 100vh;
        z-index: 100;
        position: absolute;
        top: 0;
        left: 0;
        padding: 30px;
    }

    .nav-menu-items li a {
        font-size: 2rem;
    }

    .menu-bar {
        display: block;
        z-index: 1000000;
    }
    
    .first-row,
    .second-row,
    .third-row {
        flex-direction: column;
    }


    main .first-row__left,
    main .first-row__right,
    .third-row__left,
    .third-row__right {
        width: 100%;
    }

    main .first-row__left {
        justify-content: flex-start;
        align-items: start;
        padding: 30px;
        height: max-content;
    }

    .first-row__left--content {
        width: 50%;
    }

    .first-row__left--img {
        height: 240px;
        width: 180px;
    }

    .second-row__center {
        order: 0;
    }

    .second-row__left {
        order: 1;
    }

    .third-row__right div h1 {
        padding-top: 80px;
    }

    .third-row__left {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media only screen and (max-width: 500px) {
    .first-row__left--content h1 {
        font-size: 1.8rem;
        margin-bottom: 25px;
        margin-top: 15px;
    }

    main .first-row__left {
        gap: 1rem;
    }

    .circle-star {
        top: 30px;
    }

}